* {
    margin: 0;
    box-sizing: border-box;
  }

body {
    color: var(--white);
    font-family: "Balsamiq Sans", cursive, 'Poppins', sans-serif;
  }  

html{
    scroll-behavior: smooth;
}

.link a {
    text-decoration: none;
    text-align: center;
    border-radius: 10%;
    width: 60px;
    font-size: 1.2em;
    color: inherit;
    position: absolute;
    right: 13%;
    bottom: 16%;
}
  
section {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.satu {
    background-color: red;
    
}

.text-padd {
    text-align: right;
}

.satu a {
    border: 3px dashed #FFA500;
    transition: 0.2s;
    color: white;
}

.satu img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 50px;
    float: left;
    border: 4px solid white;
}

.satu a:hover{
    border: 3px solid #FFA500;
    transform: scale(1.5);
    transform-origin: center;
}

.dua {
    background-color: #FFA500;
    /* position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease; */
}

/* .reveal:active{
    transform: translateY(0);
    opacity: 1;
  } */


.dua a {
    border: 3px dashed yellow;
    transition: 0.2s;
    color: black;
}

.dua a:hover{
    border: 3px solid yellow;
    transform: scale(1.5);
    transform-origin: center;
}

.tiga {
    background-color: yellow;
}

.chat-lama {
    text-decoration: none;
    color: green;
}

.chat-lama:hover {
    text-decoration: underline;
    color: green;
    text-decoration-color: green;
}

.ketiga a {
    border: 3px dashed green;
    transition: 0.2s;
    color: black;
}

.ketiga a:hover{
    border: 3px solid green;
    transform: scale(1.5);
    transform-origin: center;
}

.empat {
    background-color: green;
}

.empat a{
    border: 3px dashed blue;
    transition: 0.2s;
    color: white;
}

.empat a:hover{
    border: 3px solid blue;
    transform: scale(1.5);
    transform-origin: center;
}

.gambar img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 50px;
    margin: 10px;
    transition: 0.2s
}

.gambar img:hover {
    transform: scale(1.1);
    transform-origin: center;
}

.gambarPosisi {
    object-position: 0px 1px;
}

.lima {
    background-color: blue;
}

.lima a {
    border: 3px dashed #00BFFF;
    transition: 0.2s;
    color: white;
}

.lima a:hover{
    border: 3px solid #00BFFF;
    transform: scale(1.5);
    transform-origin: center;
}

.enam {
    background-color: #00BFFF;
}

.enam a {
    border: 3px dashed purple;
    transition: 0.2s;
    color: white;
}

.enam a:hover{
    border: 3px solid red;
    transform: scale(1.5);
    transform-origin: center;
}

.tujuh {
    background-color: purple;
}

.tujuh img {
    width: 700px;
    height: 430px;
    padding-left: 20px;
}

.tujuh a {
    border: 3px dashed #FFA500;
    transition: 0.2s;
    color: white;
}

.tujuh a:hover{
    border: 3px solid #FFA500;
    transform: scale(1.5);
    transform-origin: center;
}



/* .gradient-text {
    color: transparent;
    background: conic-gradient(
      #D9D7F1 12%, 
      #BAABDA 12%, #BAABDA 33%, 
      #E7FBBE 33%, #E7FBBE 55%, 
      #FFCBCB 55%, #FFCBCB 70%, 
      #B5DEFF 70%, #B5DEFF 87%, 
      #F7D1BA 87%);
    background-size: 50%;
    background-clip: text;  
    -webkit-background-clip: text;
  
    animation: expand-rev 0.5s ease forwards;
    
    font-family: 'Poppins', sans-serif;
    font-size: 25vmin;
    line-height: 20vmin;
    padding-top: 20px;
  
    cursor: pointer;
  }
  
  .gradient-text:hover {
    animation: expand 0.5s ease forwards;
  }
  
  @keyframes expand {
    0% {
      background-size: 50%;
      background-position: 0 0;
    }
    20% {
      background-size: 55%;
      background-position: 0 1em;
    }
    100% {
      background-size: 325%;
      background-position: -10em -4em;
    }
  }
  
  @keyframes expand-rev {
    0% {
      background-size: 325%;
      background-position: -10em -4em;
    }
    20% {
      background-size: 55%;
      background-position: 0 1em;
    }
    100% {
      background-size: 50%;
      background-position: 0 0;
    }
  } */

  .end {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

  .disappear {
    font-family: 'Poppins', sans-serif;
    font-size:11vw;
    text-transform: uppercase;
    overflow: hidden;
    position: absolute;
    left:0;
    right:0;
    margin: auto;
    width:100%;
    text-align: center;
    height:fit-content;
    bottom:0;
    top:0;
  }
  .disappear span {
    display: inline-block;
    color:transparent;
    text-shadow: 0px 0px 0px black;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  .disappear span:nth-child(1){
    animation-name: disappearleft;
  }
  .disappear span:nth-child(2){
    animation-name: disappearleft;
    animation-delay: .3s;
  }
  .disappear span:nth-child(3){
    animation-name: disappearight;
    animation-delay: .6s;
  }
  .disappear span:nth-child(4){
    animation-name: disappearleft;
    animation-delay: .8s;
  }
  .disappear span:nth-child(5){
    animation-name: disappearight;
    animation-delay: 1s;
  }
  .disappear span:nth-child(6){
    animation-name: disappearight;
    animation-delay: 1.3s;
  }
  .disappear span:nth-child(7){
    animation-name: disappearleft;
    animation-delay: 1.6s;
  }
  .disappear span:nth-child(8){
    animation-name: disappearight;
    animation-delay: 2s;
  }
  .disappear span:nth-child(9){
    animation-name: disappearight;
    animation-delay: 2.3s;
  }
  .disappear span:nth-child(10){
    animation-name: disappearight;
    animation-delay: 2.6s;
  }
  @keyframes disappearleft{
    50% {transform: skew(50deg) translateY(-200%);
        text-shadow: 0px 0px 50px;
          opacity: 0;
    }
  }
  @keyframes disappearight{
    50% {transform: skew(-50deg) translateY(-200%);
        text-shadow: 0px 0px 50px;
          opacity: 0;
    }
  }















/* object-fit: cover */